$main-body-color: #757575;
$hero-footer-color: #2F303A;
$main-white-color: #FFFFFF;
$caption-color: #212121;
$hero-color: #FFFFFF;
$hero-button-color: #2196F3;
$button-text-color: #FFFFFF;
$link-hover-color: #2196F3;
$hero-button-hover-color: #188CE8;
$filter-hover-color: #188CE8;
$logo-color: #2196F3;
$team-section-color: #F5F4FA;
$filter-bg-color: #F5F4FA;
$card-set-gap: 30px;
$border-color: #ececec;
$hero-gradient: rgba(47, 48, 58, 0.4);
$doing-gradient: rgba(47, 48, 58, 0.8);
$portfolio-hover-background: rgba(33, 150, 243, 0.9);
$overlay-modal-background: rgba(0, 0, 0, 0.2);
$social-links-color: #afb1b8;
$contacts-color: rgba(255, 255, 255, 0.6);
$transition-time: 250ms;
$transition-func: cubic-bezier(0.4, 0, 0.2, 1);